@import 'main_style.css';

.fill-page {
    height: 100%;
}

.main-column {
    display: flex;
    flex-direction: column;
}

.card-half-page {
    border-width: 3px 3px 0 3px;
    border-radius: var(--large-corner) var(--large-corner) 0 0;
}

.card-full-page {
    border-width: 0 3px 0 3px;
    border-radius: 0 0 0 0;
    transition: border-radius 0.5s, border-width 0.5s;
}

.card {
    background-color: var(--back-color-popup);
    box-shadow: rgba(from var(--text-color-main) r g b / 0.3) 0 0 30px 10px;

    margin-left: var(--reading-margin);
    margin-right: var(--reading-margin);
    padding: 3px var(--big-container-padding);

    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: fit-content;
}

.line {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 700px) {
    .line {
        flex-wrap: wrap;
    }
}

.take-all {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: fit-content;
}

.widget-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--spacing-medium);
    column-gap: var(--spacing-small);
    margin: var(--spacing-minimum);
    justify-content: center;
}
