@import 'main_style.css';

.fill-page {
    height: 100%;
}

.main-column {
    display: flex;
    flex-direction: column;
}

.card-half-page {
    border-width: 3px 3px 0 3px;
    border-radius: var(--large-corner) var(--large-corner) 0 0 ;
}

.card {
    background-color: var(--back-color-popup);
    margin-left: var(--reading-margin);
    margin-right: var(--reading-margin);
    padding: var(--big-container-padding);

    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: fit-content;
}
