@import 'main_style.css';

.card {
    background-color: var(--back-color-popup);
    margin-left: var(--reading-margin);
    margin-right: var(--reading-margin);
    border-radius: var(--large-corner);
    padding: var(--big-container-padding);

    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    justify-content: space-around;
}
