body {
    display: flex;
    flex-direction: column;
}

#search-container>* {
    margin: auto;
    width: fit-content;
}

.widget-header.line {
    justify-content: space-between;
}

.temp-widget-list {
    display: none;
}

/* override this since the styling is different in the dashboard */
.widget-list {
    margin: var(--spacing-small) 0;
    padding: var(--spacing-minimum);

    flex: 1;
    overflow: auto;
}

.widget-column {
    display: flex;
    flex-direction: column;
    column-gap: var(--spacing-medium);
}
