body {
    display: flex;
    flex-direction: column;
}

/* override this since the styling is different in the dashboard */
.widget-list {
    flex: 1;
    overflow: auto hidden;

    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    row-gap: var(--spacing-small);
    column-gap: var(--spacing-medium);
}

