
.text-field-label {
    font-size: medium;
    color: var(--text-color-main);
}

.text-field {
    background-color: var(--text-color-secondary);
    color: var(--back-color-popup);
    border: none;
    border-radius: var(--medium-corner);
    font-size: xx-large;
    padding: var(--input-block-padding);
    margin: var(--input-block-margin);
}

.text-submit {
    border: none;
    border-radius: var(--medium-corner);
    background-color: var(--text-color-secondary);
    color: var(--back-color-popup);
    font-size: xx-large;
    font-weight: bold;
    padding: var(--input-block-padding);
    margin: var(--input-block-margin);
}

.arrow-redirect {
    display: flex;
    flex-direction: row;
}

.classic-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.at-least-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fancy-checkbox {
    background-color: var(--accent-color-main);
    margin: var(--input-block-margin);
    padding: var(--input-block-padding);
    font-size: x-large;
    border-radius: var(--medium-corner);
    user-select: none;
}

.fancy-checkbox:has(*:checked) {
    background-color: var(--title-color);
}
