
.text-field-label {
    font-size: medium;
    color: var(--text-color-main);
}

.text-field {
    background-color: var(--text-color-secondary);
    color: var(--back-color-base-variation);
    border: none;
    border-radius: var(--medium-corner);
    font-size: xx-large;
    padding: var(--main-padding);
    margin: var(--main-margin);
}

.text-submit {
    border: none;
    border-radius: var(--medium-corner);
    background-color: var(--text-color-secondary);
    color: var(--back-color-base-variation);
    font-size: xx-large;
    font-weight: bold;
    padding: var(--main-padding);
    margin: var(--main-margin);
}

.arrow-redirect {
    display: flex;
    flex-direction: row;
}
