
:root {
    --title-color: #9FBA72;
    --warning-color: #FFC87F;
    --text-color-main: #663F46;
    --text-color-secondary: #6C5750;
    --back-color-base: #E8F7EE;
    --back-color-popup: #C1F5D6;
    --back-color-important: #E27BBC;
    --back-color-secondary: #A79CD6;
    --back-color-ternary: #DFDCDB;
    --accent-color-main: var(--back-color-secondary);
    --accent-color-secondary: var(--back-color-important);

    --place-color-main: #77005D;
    --place-color-secondary: #121212;
    --place-holder-gradient: repeating-linear-gradient(45deg, var(--place-color-main) 10%, var(--place-color-secondary), 10%);

    --image-on-back-base-gradient: linear-gradient(var(--back-color-important) 0%, transparent 100%);

    --medium-corner: 12px;
    --large-corner: 40px;

    /* Like text fields */
    --input-block-padding: 5px;
    --input-block-margin: var(--input-block-padding);
    /* Big containers should have a padding */
    --big-container-padding: 2%;
    /* To facilitate the reading of the document */
    --reading-margin: 7%;

    --spacing-small: 21px;
    --spacing-medium: 42px;
    --spacing-large: 84px;
}

html, body {
    background-color: var(--back-color-base) !important;
}

div {
    background-color: transparent;
}

h1 {
    color: var(--text-color-secondary) !important;
    width: 100%;
    text-align: center;
}

p {
    color: var(--text-color-main);
}

.subtitle {
    color: var(--text-color-main) !important;
    width: 100%;
    text-align: center;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.titles {
    padding: var(--big-container-padding);
}
