@font-face {
    font-family: "arima";
    src: url("/assets/fonts/ArimaMadurai-Regular.ttf");
}

@font-face {
    font-family: "arima-bold";
    src: url("/assets/fonts/ArimaMadurai-Bold.ttf");
}

@font-face {
    font-family: "inria";
    src: url("/assets/fonts/InriaSerif-Regular.ttf");
}

@font-face {
    font-family: "inria-bold";
    src: url("/assets/fonts/InriaSerif-Bold.ttf");
}

:root {
    --title-color: #9FBA72;
    --warning-color: #FFC87F;
    --text-color-main: #663F46;
    --text-color-main-light: #CFC9C9;
    --text-color-secondary: #6C5750;
    --back-color-base: #E8F7EE;
    --back-color-popup: #C1F5D6;
    --back-color-important: #E27BBC;
    --back-color-secondary: #A79CD6;
    --back-color-ternary: #DFDCDB;
    --accent-color-main: var(--back-color-secondary);
    --accent-color-secondary: var(--back-color-important);

    --place-color-main: #77005D;
    --place-color-secondary: #121212;
    --place-holder-gradient: repeating-linear-gradient(45deg, var(--place-color-main) 10%, var(--place-color-secondary), 10%);

    --image-on-back-base-gradient: linear-gradient(var(--back-color-important) 0%, transparent 100%);

    --medium-corner: 12px;
    --large-corner: 40px;

    /* Like text fields */
    --input-block-padding: 8px;
    --input-block-margin: 5px;
    /* Big containers should have a padding */
    --big-container-padding: 2%;
    /* To facilitate the reading of the document */
    --reading-margin: 7%;

    --spacing-minimum: 10px;
    --spacing-small: 21px;
    --spacing-medium: 42px;
    --spacing-large: 84px;
}

html, body {
    background-color: var(--back-color-base) !important;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: transparent;
}

h1 {
    color: var(--text-color-secondary) !important;
    text-align: center;
}

p {
    color: var(--text-color-main);
}

.subtitle {
    color: var(--text-color-main);
    text-align: center;
    font-size: x-large;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:has(.subtitle) {
    text-decoration: none;
}

.titles {
    padding: var(--big-container-padding);
}

.logo-decoration-container {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 3px #00000033);
}

@media screen and (max-device-width: 500px) {
    .logo-decoration-container {
        display: none;
    }
}

.hidden {
    display: none;
}

.page {
    max-height: 500px;
    visibility: visible;
    transition: max-height, padding, margin, visibility;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.reduce {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 !important;
    visibility: collapse;
}

.page-horizontal {
    max-width: 400px;
    visibility: visible;
    transition: max-width, padding, margin, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.reduce-horizontal {
    overflow: hidden;
    max-width: 0;
    padding: 0 !important;
    margin: 0 !important;
    visibility: collapse;
}

.preload {
    transition: none !important;
}

/* From the design of Hong Tao */

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.symbol {
    height: 1em;
    width: 1em;
    display: block;
}

.minimize {
    height: fit-content;
    padding: 9px;
}
