
header {
    background-color: var(--title-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.title h1 {
    margin: 0;
}

header .logo {
    margin: 10px;
}

header .logo * {
    width: 3.5em;
    height: 3.5em;
    max-width: 10vw;
}
