@import "main-style.css";

.widget {
    border: var(--accent-color-secondary) 2px solid;
    border-radius: var(--medium-corner);
    box-sizing: border-box;
    background-clip: border-box;
    background: var(--back-color-base);
    overflow: hidden;

    height: 300px;
    min-width: calc(min(400px, 50%));

    display: flex;
    flex-direction: column;
}

.widget > * {
    padding: 16px;
}

.widget-header {
    background: var(--accent-color-secondary);
    color: var(--back-color-base);
    cursor: pointer;
}

.widget-content {
    overflow: auto;
    margin: 0;
    padding-top: 5px;
}

.widget-header > h2 {
    font-size: 1.3em;
    margin: 0;
}

.notification {
    margin: 5px;
}

.notification p {
    margin: 0;
}

.notification-date {
    text-align: right;
    font-size: 0.7em;
}

.turned .symbol {
    transform: rotate(-90deg);
    transition: 0.5s transform;
}

.dashboard-line {
    padding: 3px;
}

a.dashboard-line {
    display: block;
}

.dashboard-line + .dashboard-line {
    border-top: 1px solid;
}

a.dashboard-line:hover {
    background-color: #aaaaaaaa;
}
